<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Usuario</title>
</head>

<body>
    <div class="princ">
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>

                <li>
                    <a href="/usuario">Usuario</a>
                </li>

                <li>
                    <a href="/acerca">Acerca</a>
                </li>
            </ul>
        </nav>

        <main>
            <div class="contenedor">
                <form action="/usuario-login/?" method="GET">
                    <input id="caja" type="text" placeholder="Nombre" name="name">
                    <input id="caja" type="password" placeholder="Contraseña" name="password">
                    <input id="btn" type="submit" value="Enviar">
                </form>
            </div>
        </main>
    </div>
</body>

</html>